/* Import Google font - Poppins */
@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #B4B4B8;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #607274;
  border-radius: 7px;
  box-shadow: 0 2px 15px whitesmoke;
  border: 0.5px solid black;
}
.container .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color: #343434;
  cursor: pointer;
}
.signup label:hover {
  /* text-decoration: underline; */
  text-shadow: 5px 2px 5px black;
  color: white;
}
#login {
  color: black;
  background: #B4B4B8;
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 18px;
  margin-bottom: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
#login:hover {
  background: white;
  color: black;
}
/* .form a{
  font-size: 16px;
  color: #16161a;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
} 
.form input.button {
  color: black;
  background: #8590a0;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: white;
  color: black;
}*/
#back:hover{
  filter: drop-shadow(0px 2px 5spx black);
}